footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.footer-icons i {
    color: #333;
    font-size: 25px;
    margin: 0 10px;
}
.footer-text {
    color: #333;
    font-size: 14px;
}