.example-card {
  max-width: 400px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 45%;
  height: 50%;
}
zz
.letra{
  color:gray;
  margin-left: 10px;
  font-size: 10px;
}
.letra1{
  color:white;
  margin-left: 10px;
  font-size: 12px;
}

body {
  background-color: #f0f0f0;
}

