<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container-fluid">
    <div class="row ">
        <div class="col col-6 mt-5 p-5">
            <div style="margin-top: 15%;"></div>
            <div style="text-align: center;" class="mt-5 p-5">
                <h1 class="fw-bolder mt-5 ">VIAJES PARA TODOS</h1>
                <p class="">Aproveche nuestro sistema para reservar online el viaje de sus sueños</p>
                <a style="background-color:black; color: aliceblue; width: 50%;" class="mb-5 btn rounded-4 fw-bolder"
                    id="modulos "href="#">Reserva online</a>
                    
            </div>
        </div>

        <div class="col col-6 p-5" style="background-color:#0f928c">
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-6 mt-5 ">
                    <div style="margin-top: 25%;"></div>
                    <p style="font-size: 35px; color:aliceblue" class="fw-bold mb-4">Crea tu cuenta</p>
                    <input placeholder="Username" type="text" class=" mb-2  form-control border mb-0">
                    <input placeholder="Password" type="password" class="mb-3 form-control border">
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span style="color: aliceblue;" class="small mb-5">Remember me</span>

                    <a class="btn btn-dark form-control mt-3" href="#">Siguiente</a>
                    <a style="background-color: #3E4AB8 
                    ; color:aliceblue" class="btn form-control mt-3" href="#">Recuperar contraseña</a>
                    <a style="color:aliceblue" class="btn  btn-outline-dark form-control mt-3 mb-5"
                        href="#">Registrarse</a>
                    <div style="margin-top: 28%;"></div>
                </div>
                <div class="col col-3">
                </div>
            </div>
        </div>
      