<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<script>"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"</script>



<body class="p-5 mt-5">
    <div class="container-fluid">
        <div class="row">

     
            <div class="col-4">
            </div>
            <div class="col col-md-4 mt-5" style="text-align: center;">
                <h1 class="fw-bolder mt-5 ">VIAJES PARA TODOS</h1>
                <p class="">Aproveche nuestro sistema para reservar online el viaje de sus sueños</p>
                <a style="background-color:black; color: aliceblue; width: 50%;"class="mb-5 btn rounded-4 fw-bolder" href="#">Reserva online</a>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</body>




      